<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Online PPT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css({.tmp/desktop,app}) styles/edit.css -->
        <link rel="stylesheet" href="./styles/edit.css">
        <!-- endbuild -->
    </head>
    <body>

        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="wrapper"></div>

        <script id="layout-view-template" type="text/template">
            <header></header>
            <section class="content">
                <nav id="nav"></nav>
                <section id="dashboard">
                    
                </section>
            </section>
            <section id="login-content"></section>
        </script>

        <script id="nav-collection-view" type="text/template">
            <ul></ul>
        </script>

        <script id="nav-item-view" type="text/template">
            <h3><%= title %></h3>
            <p><%= description %></p>            
        </script>

        <script id="dashboard-item-view" type="text/template">
            <div class="mobile-wrapper">
                <input class="title-input" type="text" placeholder="Please input title" value="<%= title %>" />
                <textarea class="description-input" placeholder="Please input description"><%= description %></textarea>
            </div>
            <input type="button" class="save" value="save" />            
        </script>

        <script id="login-view" type="text/template">
            asfasf
            asfasffasd
            fa
            sfas
            f
            a            
        </script>

        <!-- build:js scripts/edit-vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/json2/json2.js"></script>
        <script src="../bower_components/handlebars/handlebars.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <script src="../bower_components/backbone/backbone.js"></script>
        <script src="../bower_components/backbone.marionette/lib/backbone.marionette.js"></script>        
        <script src="../bower_components/backbone.wreqr/lib/backbone.wreqr.js"></script>
        <script src="../bower_components/html2canvas/build/html2canvas.js"></script>
        <!-- endbuild -->
        
        <!-- build:js scripts/main.js -->
        <script src="./scripts/global.js"></script>
        <script src="./scripts/layout-module.js"></script>
        <script src="./scripts/login-module.js"></script>
        <script src="./scripts/sidebar-module.js"></script>
        <script src="./scripts/dashboard-module.js"></script>
        <script src="./scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
