<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Online PPT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css({.tmp/desktop,app}) styles/edit.css -->
        <link rel="stylesheet" href="./styles/edit.css">
        <!-- endbuild -->
    </head>
    <body>

        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="wrapper"></div>

        <script id="layout-view-template" type="text/template">
            <header></header>
            <section class="content">
                <nav id="nav"></nav>
                <section id="dashboard"></section>
            </section>
        </script>

        <script id="nav-collection-view" type="text/template">
            <ul></ul><i>asdfasafasfa</i><b>afasfdf af as</b>
        </script>

        <script id="nav-item-view" type="text/template">
                <%= name %>
                <%= age %>
        </script


        <!-- build:js scripts/edit-vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/handlebars/handlebars.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <script src="../bower_components/backbone/backbone.js"></script>
        <script src="../bower_components/backbone.marionette/lib/backbone.marionette.js"></script>        
        <script src="../bower_components/backbone.wreqr/lib/backbone.wreqr.js"></script>
        <script src="../bower_components/html2canvas/build/html2canvas.js"></script>
        <!-- endbuild -->
        
        <!-- build:js scripts/main.js -->
        <script src="./scripts/edit.js"></script>
        <!-- endbuild -->
</body>
</html>
